
/*Goes at the bottom of the file so it can overwrite the default styles*/
@media only screen and (max-width: 1024px) {
    body {
      background-color: dimgrey;
    }
    p {
      color: gold;
    }
  }
  
  @media only screen and (max-width: 720px) {
    body {
      background-color: orangered;
    }
    p {
      color: blue;
    }
  }
  
  @media only screen and (max-width: 480px) {
    body {
      background-color: yellow;
    }
    p {
      color: purple
    }
  }